*{

font-family: Lucida Console;
-webkit-box-sizing: border-box;
        box-sizing: border-box;

}

html {

    background-image: url("../Styles/wallpaper2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    min-height: 100%;
}


h1, h2 {
    color: white;
    font-family: "Bookman Old Style";
}

h1 {
font-size: 50px;
margin-bottom: 0px;
    color: darkgoldenrod;

}

table {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
/*
    background-color: rgba(255, 255, 255, 0.63);
*/

}

th, td {
    border-bottom: 1px solid #ddd;
    min-height: 50px;
}

tr:hover {
    background-color: rgba(43, 172, 227, 0.67);
}



#bothGrids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
        align-items: flex-start;
    flex-wrap: wrap;
/*
    background-color: rgba(255, 255, 255, 0.63);
*/
}

tr{
    height: 40px;
}


th {
    min-width: 65px;
}

form {
    padding: 20px;
    width: 450px;

}

#shipSalvoLabel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

#footerBar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.83);
    position:fixed;

    bottom:0;
    text-align: center;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#logOutBut {

    background-color: darkgoldenrod;
    height: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#scoreBoard {
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 10px;
}

#theLoginSpace {
    background-color: rgba(255, 255, 255, 0.63);
    border: 1px solid black;

    border-radius: 10px;
}

#mainBody{
margin-bottom: 20px;
}

body {
    margin-bottom:100px;
}


.center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.mainrow {

    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.tiles, .salvotiles {
    width: 40px;
    border: 1px solid red;
}

.centerColumn {

    display:-webkit-box;

    display:-ms-flexbox;

    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.numbertiles, .lettertiles {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.labels {
    min-width: 110px;
    display: inline-block;
    margin-top:20px;
}

.logSignInBut {
    min-width: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: darkgoldenrod;
    height: 40px;
}

@-webkit-keyframes slide {
    from{
        background-position:1px;
    }
    to{
        background-position:575px;
    }
}

#footerBar{
    width:100%;
        background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Graney_class_SSN.svg/500px-Graney_class_SSN.svg.png);

    -webkit-animation: slide 10s linear infinite;
}

/*START OF SHIP PLACEMENT CSS*/
.draggable {
  float:left;
  height: 50px;
  background-color: gray;
 }

.patrolBoat {
  width: 100px;
}

.destroyer {
  width: 150px;
}

.submarine {
    width: 150px;
}


/*
.battleship {
    width: 200px;
}

*/

 .draggable p {
  text-align: center;
  /*padding: -20px 0 0 0;*/
  font-weight:900;
 }

 .draggable.ui-draggable-dragging {
    background: red;
 }

 .vertToHorizPatrol {
     width: 50px;
     height: 100px;
 }

 .vertToHorizDestroyer {
    width: 50px;
    height: 150px;
 }

 #hitsOnYouTable{

    background-color: rgba(255, 255, 255, 0.63);
 }

.hitTiles{

    border: 1px solid black;
    width: 40px;
    height: 40px;
}

.flex {

    display: flex;
    justify-content:center;
}

#whoIsPlayingNViewing {
    display: flex;
    justify-content: space-around;
}

#hitsTable{
    margin-top: 40px;

}

#divForGrid, #divForSalvoes, #divForHits, #gameListDiv {

    border-radius: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.63);

}

#divForShipInfo {

    min-width: 400px;
}

#placeShipsTable{
        background-color: rgba(255, 255, 255, 0.63);
        min-width: 400px;
}

#gameListDiv {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.63);
    width: 450px;
}

#currentGamesBox{

    flex-direction: column;
    align-items: center;
}

li {
    margin: 10px 0px 10px 0px;
}

.blackFont{
    color:black;
}


.center {
   display: flex;
/*
   justify-content: center;
*/
   align-items: center;
}

#hv {
    text-align: center;
}

iframe{

height: 40px;
width: 40px;
}
