#divForGrid{
    width: 550px;
}

body{

    background-image: url("../Styles/wallpaper1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


#bothGrids {
    display: flex;
    justify-content: space-around;
}

#shipSalvoLabel {
    display: flex;
    justify-content: space-around;
}

.center{
    display: flex;
    justify-content: space-around;

}

.mainrow {

    height: 50px;
    /*border: 1px solid black;*/
    display: flex;
}

.tiles {
    width: 50px;
    border: 1px solid red;
}

h1 {
    color: black;
    font-family: "Bookman Old Style";
}

.numbertiles, .lettertiles {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}